In [60]:
import pandas as pd
import numpy as np

In [113]:
df=pd.read_csv("train.csv",usecols=['X1','X2','X3'])
df

     X1  X2 X3
0     v  at  a
1     t  av  e
2     w   n  c
3     t   n  f
4     v   n  f
...  ..  .. ..
4204  s  as  c
4205  o   t  d
4206  v   r  a
4207  r   e  f
4208  r  ae  c

[4209 rows x 3 columns]

In [123]:

list=df['X2'].value_counts().head(10).index

In [125]:
print(list)

Index(['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e'], dtype='object', name='X2')

In [129]:
for i in list:
    df['X2'+i]=np.where(df['X2']==i,1,0)
df

     X1  X2 X3  X2as  X2ae  X2ai  X2m  X2ak  X2r  X2n  X2s  X2f  X2e
0     v  at  a     0     0     0    0     0    0    0    0    0    0
1     t  av  e     0     0     0    0     0    0    0    0    0    0
2     w   n  c     0     0     0    0     0    0    1    0    0    0
3     t   n  f     0     0     0    0     0    0    1    0    0    0
4     v   n  f     0     0     0    0     0    0    1    0    0    0
...  ..  .. ..   ...   ...   ...  ...   ...  ...  ...  ...  ...  ...
4204  s  as  c     1     0     0    0     0    0    0    0    0    0
4205  o   t  d     0     0     0    0     0    0    0    0    0    0
4206  v   r  a     0     0     0    0     0    1    0    0    0    0
4207  r   e  f     0     0     0    0     0    0    0    0    0    1
4208  r  ae  c     0     1     0    0     0    0    0    0    0    0

[4209 rows x 13 columns]